@use "../colors";

.dashboard {
  width: 100%;
  > * {
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
  }
}

.dashboard1::-webkit-scrollbar {
  display: none;
}

.dashboard1 {
  padding: 2rem;
  background-color: #fff;
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  > .gb {
    width: 25%;
    min-width: 25rem;
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    > :first-child {
      margin-right: 2rem;
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
    }
    > :last-child {
      > :first-child {
        color: colors.$gray-400;
        font-weight: 500;
      }
      > :last-child {
        font-weight: 600;
        font-size: 1.8rem;
      }
    }
  }
  > .gb:first-child {
    color: colors.$yellow-500;
    > :first-child {
      background-color: colors.$yellow-100;
    }
  }
  > .gb:nth-child(3) {
    color: colors.$primary-500;
    > :first-child {
      background-color: colors.$primary-100;
    }
  }
  > .gb:nth-child(5) {
    color: colors.$blue-500 !important;
    > :first-child {
      background-color: colors.$blue-100 !important;
    }
  }
  > .gb:last-child {
    color: colors.$red-500;
    > :first-child {
      background-color: colors.$red-100;
    }
  }
}

.dashboard2 {
  height: 45rem;
  > :first-child {
    width: 50%;
    margin-right: 3rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1.6rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    > p {
      font-size: 2.2rem;
      font-weight: 500;
      margin-bottom: 1.5rem;
    }
    > div {
      height: 90%;
    }
  }
  > :last-child {
    width: 50%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1.6rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}

@media (max-width: 768px) {
  .dashboard2 {
    flex-wrap: wrap;
    height: 100%;

    > * {
      width: 100%;
    }
    > :first-child {
      margin-right: 0;
      margin-bottom: 3rem;
      width: 100%;
    }
    > :last-child {
      width: 100%;
    }
  }
}
